@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Robert Moncrief<br />
    Knoxville, Tn, 37865<br />
    <abbr title="Phone">P:</abbr>
    865.437.7975
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">robert.moncrief@cadre5.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>@ViewBag.TheMessage</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>